{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="#">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="Home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown color_letar">
                        <a class="nav-link dropdown-toggle color_letar" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item color_letar" href="Pagina2.html">Torta de Maracuya</a>
                            <a class="dropdown-item color_letar" href="Pagina2.1.html">Kuchen Durazo y Frambuesas</a>
                            <a class="dropdown-item color_letar" href="Pagina2.2.html">Cupcakes Frambuesa y
                                Chocolate</a>
                    <li>
                    <li class="nav-item">
                        <a class="nav-link color_letar" href="Registro.html">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="login.html">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>


{% if listado %}
{% for c in listado %}
<table class="table table-bordered mt-5 color_menu" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Apellido Cliente</th>
            <th scope="col">Rut Cliente</th>
            <th scope="col">Correo</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{c.id}})</th>
            <td>{{c.nombre_cli}}</td>
            <td>{{c.apellido_cli}}</td>
            <td>{{ c.rut }}</td>
            <td>{{ c.correo }}</td>

            <td>
                <form action="{% url 'pasteleria:eliminar_cliente' %}" method="POST" >
                    {% csrf_token %}
                    <input type="number" name="id_e" value="{{c.id}}" hidden  >
                    <input type="submit" class="btn btn-primary" value="Eliminar" >
                </form>
            </td>
            <td>
                <form action="{% url 'pasteleria:editar_cliente' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="id_d" value="{{c.id}}" hidden>
                    <input type="submit" class="btn btn-primary" value="Editar">
                </form>
            </td>
        </tr>
        <tr>
    </tbody>



</table>
{% endfor %}
{% else %}
<h1 class="mover_I_25 " >Sin información</h1>
{% endif %}
<a class="btn btn-primary mover_I_25" style="margin-left: 40%;" href="{% url 'pasteleria:index' %}">Volver a la pagina inicial</a>